* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f5f7;
  color: #4a4a63;
}

.header {
  background: #ffffff;
  height: 72px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5ee;
  position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
  width: 140px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%; 
  height: auto;     
  display: block;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #4a4a63;
  font-size: 15px;
   font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
  color: #7b61ff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #d0d0e5;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #4a4a63;
}

.btn-primary {
  background: #b6e0f5;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  color: #004a66;
  font-weight: 500;
}

body.dark {
  background: #1e1e2f;
  color: #e5e5f0;
}

body.dark .header {
  background: #25253a;
  border-color: #333;
}

body.dark .nav a {
  color: #e5e5f0;
}

body.dark .btn-outline {
  border-color: #555;
  color: #e5e5f0;
}
/* Ícone Hambúrguer */
.hamburger {
    display: none; /* Escondido no desktop */
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #4a4a63;
    border-radius: 2px;
}

.mobile-only-link { display: none; }

@media (max-width: 850px) {
    .header { padding: 0 20px; }

    .hamburger { display: flex; }

    .desktop-only { display: none; }

    /* Menu lateral/suspenso */
    .nav {
        position: absolute;
        top: 80px;
        right: -100%; /* Começa fora da tela */
        width: 100%;
        height: calc(100vh - 80px);
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        transition: 0.4s;
        box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }

    .nav.active {
        right: 0; /* Entra na tela */
    }

    .mobile-only-link { 
        display: block; 
        background-color: #b6e0f5;
        width: 80%;
        text-align: center;
        padding: 15px;
        border-radius: 8px;
    }
}