* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f7fb;
    color: #333;
}


.segundo {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.header {
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.header-simples {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #6a5acd;
}

.logo span {
    color: #4f46e5;
}


.logo a {
    text-decoration: none;
    color: #5b5bd6;
}

.auth {
    display: flex;
    align-items: center;
    gap: 12px;
}

.login {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.btn {
    background: #93c5fd;
    padding: 8px 14px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.primeiro {
    text-align: center;
    padding: 60px 20px;
}

.primeiro h1 {
    font-size: 36px;
    margin-bottom: 12px;
    color: #4b5563;
}

.primeiro p {
    font-size: 16px;
    color: #6b7280;
}


.main {
    padding: 40px 0;
}

.div {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.div h2 {
    margin-top: 24px;
    margin-bottom: 10px;
    color: #4f46e5;
    font-size: 20px;
}

.div p {
    line-height: 1.6;
    color: #555;
}


.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}

.voltar {
    display: flex;
    padding: 10px 20px;
    background-color:rgb(134, 252, 134);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}