:root {
    --color-white: #FFFFFF;
    --color-white-medium: #F2F2F5;
    --color-white-gray: #E3E3EB;

    --color-blue-deep: #3A3A50;
    --color-blue-medium: #4A4A5E;
    --color-gray-blue: #65657A;

    --color-blue-hover: #83c8eb;
    --color-blue: #90D0F0;
    --color-blue-soft: #A8D8F0;
    --color-blue-light: #D9EBF4;

    --color-purple: #6B46C1;
    --color-purple-soft: #CDC2E2;

    --color-pink: #DF54D4;

    --color-green-light: #C8E6D0;

    --font-family: 'Poppins', sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

button {
    cursor: pointer;
}

/* Início section 1 */
.pg-inicial {
    background-color: var(--color-white-medium);
    padding: clamp(2rem, 5vw, 4rem) clamp(1.5rem, 6vw, 9.5rem);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg-inicial h1 {
    color: var(--color-blue-deep);
    font-size: clamp(2.25rem, 3vw, 3rem);
    font-weight: 500;
    text-align: center;
}

.pg-inicial p {
    color: var(--color-blue-medium);
    font-size: 1.25rem;
    max-width: 48rem;
    text-align: center;
}

nav {
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 56rem;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

input:focus {
    outline: none;
}

.cargo input {
    background-color: var(--color-white-medium);
}

.cargo i {
    color: var(--color-blue);
    font-size: 1rem;
}

.local,
input {
    background-color: var(--color-white-medium);
}

.local i {
    color: var(--color-green-light);
    font-size: 1rem;
}

.cargo,
.local {
    background-color: var(--color-white-medium);
    color: var(--color-blue-medium);
    border-radius: 0.5rem;
    padding: 0 1rem;

    gap: 0.5rem;
    height: 3rem;
    width: 100%;
    max-width: 17rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

nav button {
    background-color: var(--color-blue);
    max-height: none;
    font-size: 1rem;
    color: var(--color-white);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 0.5rem;

    padding: 0.75rem 4rem 0.75rem 4rem;
}

nav button:hover {
    background-color: var(--color-blue-hover);
}

/* Fim section 1 */

/* Início section 2 */
.dstq-vagas {
    background-color: var(--color-white-gray);
    padding: clamp(2rem, 5vw, 4rem) clamp(1.5rem, 6vw, 9.5rem);
}

.dstq-vagas h2,
.diferenciais h2 {
    color: var(--color-blue-deep);
    font-weight: 500;
    font-size: 2rem;
}

.dstq-vagas>h2 {
    margin-bottom: 0.75rem;
}

.dstq-vagas p,
.diferenciais>p {
    color: var(--color-blue-medium);
    font-size: 1.125rem;
}

.dstq-vagas>p {
    margin-bottom: 2.5rem;
}

.dstq-vagas article {
    padding: 1.5rem;
    max-width: 52rem;
    max-height: 42rem;
    border-radius: 1rem;
    border: solid var(--color-purple-soft) 1px;
    background-color: var(--color-white-medium);
}

.dstq-vagas article h3 {
    color: var(--color-blue-deep);
    font-size: 1.25rem;
    font-weight: 500;
}

.title-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.local-periodo {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.dstq-vagas article p,
.cards-dif p {
    color: var(--color-gray-blue);
    font-size: 0.875rem;
}

.dstq-vagas article .savebtn {
    color: var(--color-pink);
}

.dstq-vagas article ul li {
    background-color: var(--color-green-light);
    color: var(--color-blue-medium);
    font-size: 0.75rem;
    padding: 0.25rem 0.875rem;
    border-radius: 1.5rem;
}

.dstq-vagas article ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.details-btn {
    background-color: var(--color-blue-soft);
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.625rem;
    padding: 0.75rem 4rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.45s ease-out,
        background-color 0.45s ease-in-out;
    transform-origin: center;
}

.details-btn:hover {
    background-color: var(--color-blue-hover);
    transform: scale(1.02);

}

.grid-vagas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.grid-vagas article {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    gap: 1rem;
    height: auto;
    padding: 1.5rem;
    border-radius: 1rem;
    border: solid var(--color-purple-soft) 1px;
    background-color: var(--color-white-medium);
}

.mais-vagas button {
    color: var(--color-blue-deep);
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: solid var(--color-blue) 2px;
    border-radius: 0.625rem;
    padding: 0.75rem 2rem;

    transition: background-color 0.35s ease-in-out,
        color 0.35s ease-in-out,
        box-shadow 0.35s ease-in-out,
        transform 0.25s ease-in-out;
    transform-origin: center;
}

.mais-vagas {
    display: flex;
    justify-content: center;
}

.mais-vagas button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    transform: scale(1.015);
    box-shadow: 0px 2px 4px -2px var(--color-gray-blue);
}

/* Fim section 2 */

/* Início section 3 */
.diferenciais {
    padding:
        clamp(2rem, 5vw, 4rem) clamp(1.5rem, 6vw, 9.5rem) 5rem;
    background-color: var(--color-white-medium);
}

.diferenciais h2,
.diferenciais>p {
    text-align: center;
}

.diferenciais h2 {
    margin-bottom: 1rem;
}

.diferenciais>p {
    max-width: min(650px, 100%);
    margin: 0 auto 3rem;
    text-align: center;
    line-height: 28px;
}

.cards-dif {
    background-color: var(--color-white);
    border-radius: 0.875rem;
    min-height: 216.5px;
    border-top: 4px solid var(--color-green-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.cards-dif h4 {
    color: var(--color-blue-medium);
    font-size: 1.125rem;
    font-weight: 500;
}

.cards-dif p {
    max-width: 28ch;
    margin: 0 auto;
    text-align: center;
}

.bgicone-dif {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--color-blue-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-dif {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
}

.jornada {
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0px 1px 3px var(--color-gray-blue);
    padding: clamp(2rem, 5vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jornada h3 {
    color: var(--color-blue-medium);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
}

.jornada p {
    color: var(--color-gray-blue);
    width: auto;
    max-width: 60ch;
    text-align: center;
    margin-bottom: 1.5rem;
}

.jornada button {
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 0.625rem;
    padding: 1rem 2.5rem;

    transition: background-color 0.45s ease-out,
        transform 0.40s ease-out,
        box-shadow 0.45s ease-in-out;
    transform-origin: center;
}

.jornada button:hover {
    background-color: var(--color-purple);
    box-shadow: 0 1px 4px var(--color-gray-blue);
    transform: scale(1.015);
}

/* Fim section 3 */

/* Início section 4 */
.planos {
    background-color: var(--color-white-medium);
    padding: 4rem 9.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.planos h2{
    font-size: 1.875rem;
    font-weight: 600;
    color: var(--color-purple);
}

.planos > p{
    color: var(--color-blue-medium);
    font-size: 1.125rem;
    text-align: center;
    max-width: 623px;
    height: auto;
    margin-bottom: 3rem;
}

.ofertas{
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: 0px 2px 4px -2px var(--color-gray-blue);
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    border-radius: 1rem;
    gap: 0.5rem;
}

.ofertas h4{
    color: var(--color-purple);
    font-size: 1.5rem;
    font-weight: 600;
}

.ofertas h4 + p{
    color: var(--color-gray-blue);
}

.ofertas h4 + p + p{
    font-size: 0.875rem;
}

.preco-oferta{
    font-size: 2.25rem;
    font-weight: 700;
}

.icone-ofertas{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.icone-ofertas p{
    font-size: 0.875rem;
}

.planos-text{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.ofertas button{
    background-color: var(--color-purple-soft);
    color: var(--color-purple);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}

.ofertas-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.p-final{
    color: var(--color-blue-medium);
    margin-bottom: 4rem;
}

.destaque{
    border: solid var(--color-pink) 4px;
}

.destaque-badge{
    position: absolute;
    top: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 600;

    background-color: var(--color-pink);
    color: var(--color-white);
    white-space: nowrap;
}

/* Fim section 4 */

/* Ajustes para telas menores */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    nav button {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .ofertas-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .grid-dif {
        grid-template-columns: 1fr;
    }

    /* Início section 4 */
.planos {
    background-color: var(--color-white-medium);
    padding: clamp(2rem, 5vw, 4rem) clamp(1.5rem, 6vw, 9.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.planos h2 {
    font-size: 1.875rem;
    font-weight: 600;
    color: var(--color-purple);
    text-align: center;
}

.planos>p {
    color: var(--color-blue-medium);
    font-size: 1.125rem;
    text-align: center;
    max-width: 623px;
    height: auto;
    margin-bottom: 3rem;
}

.ofertas {
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: 0px 2px 4px -2px var(--color-gray-blue);
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    border-radius: 1rem;
    gap: 0.5rem;
}

.ofertas h4 {
    color: var(--color-purple);
    font-size: 1.5rem;
    font-weight: 600;
}

.ofertas h4+p {
    color: var(--color-gray-blue);
}

.ofertas h4+p+p {
    font-size: 0.875rem;
}

.preco-oferta {
    font-size: 2.25rem;
    font-weight: 700;
}

.icone-ofertas {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.icone-ofertas p {
    font-size: 0.875rem;
}

.planos-text {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.ofertas button {
    background-color: var(--color-purple-soft);
    color: var(--color-purple);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;

    transition: background-color 0.35s ease-in-out,
        color 0.35s ease-in-out,
        box-shadow 0.35s ease-in-out,
        transform 0.25s ease-in-out;
    transform-origin: center;

}

.ofertas button:hover {
    background-color: var(--color-purple);
    color: var(--color-blue-light);
    transform: scale(1.015);
    box-shadow: 0px 2px 4px -2px var(--color-gray-blue);
}

.ofertas-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.p-final {
    color: var(--color-blue-medium);
    margin-bottom: 4rem;
    text-align: center;
}

.destaque {
    border: solid var(--color-pink) 4px;
}

.destaque-badge {
    position: absolute;
    top: -0.75rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 600;

    background-color: var(--color-pink);
    color: var(--color-white);
    white-space: nowrap;
}

    .ofertas-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }
}