
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #f4f6f8;
    color: #333;
}


.header {
    background-color: #ffffff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #5b5bd6;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.menu a:hover {
    color: #5b5bd6;
}


.main {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
    padding: 0 20px;
}

.main h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 40px;
}


.section {
    text-align: left;
}

.sections {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.sections h2 {
    font-size: 18px;
    color: #5b5bd6;
    margin-bottom: 10px;
}

.sections p {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
}


.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.footer p {
    font-size: 14px;
    color: #777;
}

.voltar {
     display: flex;
    padding: 10px 20px;
    background-color:rgb(134, 252, 134);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}